.Fishes {
    display: flex;
    justify-content: space-evenly;
}
.Fish   {
    border: 1px green solid;
    display:flex;
   
    flex-direction: column;
    margin: 8px;
    align-items: center;
   flex: 3;
}
.Tank {
    display: flex;
    border: 1px violet solid;
    margin: 5px;
    margin-left: 5px;
    flex: 1;
    flex-direction: column;
}